body {
    background-color: #b46c4f;
    font-family: 'Times New Roman', Times, serif;
}

h2
{
    margin-inline-end: 100px;
}

.header
{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 10px;
    background: #f6ffd5c9;
    color: rgb(0, 0, 0);
    /* font-size: 20px */
}

.button
{
    height: 60px;
}

.welcome
{
    text-align: center;
    font-size: 30px;
    font-family: cursive;
}

.sec1
{
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

video
{
    padding-right: 20%;
}

.titles
{
    display: inline;
    display: flex;
    justify-content: space-around;
    font-family: cursive;
    font-size: 20px;
}

.description
{
    display: flex;
    justify-content:center;
}

.desc
{
    text-align: left;
    word-wrap: normal;
    margin-inline-start: 200px;
    margin-inline-end: 200px;
}

.footer
{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 10px;
    background: #f6ffd5c9;
    color: rgb(0, 0, 0);
    /* font-size: 20px */
}

/* .sec2 {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

.pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.socials {
    font-size: large;
    display: flex;
    justify-content: center;
}

.footer {
    padding: 10px;
    text-align: center;
    background: #f6ffd5c9;
    color: rgb(0, 0, 0);
    font-size: 30px
} */