body {
    background-color: #b46c4f;
    font-family: 'Times New Roman', Times, serif;
    /* margin-right: 10px;
    margin-left: 10px; */
}

/* For "The Amazing Team" Title */
h2
{
    margin-inline-end: 100px;
}

.header
{
    /* position: fixed; Did not work the way I wanted*/
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 10px;
    background: #f6ffd5c9;
    color: rgb(0, 0, 0);
    /* font-size: 20px */
}

.button
{
    height: 60px;
}

.welcome
{
    text-align: center;
    font-size: 30px;
    font-family: cursive;
}

.sec1
{
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

video
{
    padding-right: 20%;
}

.titles
{
    display: inline;
    display: flex;
    justify-content: space-around;
    font-family: cursive;
    font-size: 20px;
}

.description
{
    display: flex;
    justify-content:center;
}

.desc
{
    text-align: left;
    word-wrap: normal;
    margin-inline-start: 200px;
    margin-inline-end: 200px;
}

.footer
{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 10px;
    background: #f6ffd5c9;
    color: rgb(0, 0, 0);
    /* font-size: 20px */
}

/* To poistion Like button on the center of the page */
.like {
    display: flex;
    justify-content: center;
}

/* Styling of Like Button */
.like-button {
    width: 100px; height: 58px;
    outline: 0;
    border: 2px solid;
    background-color: #EFEFEF;
    color: rgb(0, 0, 0);
    cursor: pointer;
    overflow: hidden;
    position: relative;
    font-size: large;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.05);
    transition: 1.5s cubic-bezier(.21,.04,.26,.99);
}
